<html>
<head>
	<title>Indian Cricketers</title>
	<link rel="stylesheet"  href="cricket.css">
</head>
<body>
	<div id="links">
		<a href="#home">Home</a>
		<a href="#sachin">Sachin</a>
		<a href="#dhoni">M.S Dhoni</a>
		<a href="#rohit">Rohit</a>
		<a href="#yuva">Yuvaraj</a>
	</div>
	<div id="home">
		<h2>Indian Legend Crickters</h2>
		<p>The India men's national cricket team, also known as Team India or the Men in Blue,[10][11] represents India in men's international cricket. It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test, One Day International (ODI) and Twenty20 International (T20I) status</p>
		<table>
			<tr>
				<td><img src="c1.jpeg" width="350px" height="200px" alt=""></td>
				<td><img src="c2.jpeg" width="350px" height="200px" alt=""></td>
			</tr>
		</table>
		<p>In men's limited-overs cricket, India made its ODI and T20I debuts in 1974 and 2006, respectively. The team has won five major ICC tournaments, winning the Cricket World Cup twice (1983 and 2011), the ICC T20 World Cup once (2007) and the ICC Champions Trophy twice (2002 and 2013) and have also finished as runners-up in the World Cup once (2003), the T20 World Cup once (2014), and the Champions Trophy twice (2000 and 2017). The team were also part of ICC World Test Championship finals in the first two editions (2021, 2023). It was the second team after the West Indies to win the World Cup and the first team to win the World Cup on home soil after winning the 2011 Cricket World Cup.</p>
	</div>
	<div id="sachin">
		<h2>Sachin Tendulkar</h2>
		<p>Sachin Ramesh Tendulkar, (/ˌsʌtʃɪn tɛnˈduːlkər/ (listen); pronounced [sətɕin teːɳɖulkəɾ]; born 24 April 1973) is an Indian former international cricketer who captained the Indian national team. He is widely regarded as one of the greatest batsmen in the history of cricket.[4] He is the all-time highest run-scorer in both ODI and Test cricket with more than 18,000 runs and 15,000 runs, respectively.[5] He also holds the record for receiving the most man-of-the-match awards in international cricket</p>
		<table>
			<tr>
				<td><img src="S1.webp" width="250px" height="150px" alt=""></td>
				<td><img src="S2.jpeg" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Tendulkar has received several awards from the government of India: the Arjuna Award (1994), the Khel Ratna Award (1997), the Padma Shri (1998), and the Padma Vibhushan (2008).[12][13] After Tendulkar played his last match in November 2013, the Prime Minister's Office announced the decision to award him the Bharat Ratna, India's highest civilian award.[14][15] He was the first sportsperson to receive the reward and, as of 2023, is the youngest recipient.[16][17][18] In 2010, Time included Tendulkar in its annual list of the most influential people in the world.[19] Tendulkar was awarded the Sir Garfield Sobers Trophy for cricketer of the year at the 2010 International Cricket Council (ICC) Awards</p>
	</div>
	<div id="dhoni">
		<h2>M.S Dhoni</h2>
		<p>Mahendra Singh Dhoni (/məˈheɪndrə ˈsɪŋ dhæˈnɪ/ (listen); born 7 July 1981) is an Indian professional cricketer. He was captain of the Indian national team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014. Dhoni is widely considered one of the greatest cricket captains, wicket-keeper-batsman and finishers in the history of cricket</p>
		<table>
			<tr>
				<td><img src="d1.jpg" width="250px" height="150px" alt=""></td>
				<td><img src="d2.jpeg" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Dhoni received India's highest sports honour, the Major Dhyanchand Khel Ratna Award in 2008 for his outstanding achievements and the Government of India honoured him India's fourth civilian award Padma Shri in 2009 and third civilian award Padma Bhushan in 2018. He is the only cricket captain in the world to win all three of the Cricket World Cup, ICC Men's T20 World Cup and ICC Champions Trophy. </p>
	</div>
	<div id="rohit">
		<h2>Rohit Sharma</h2>
		<p>Rohit Gurunath Sharma (born 30 April 1987), is an Indian international cricketer and the current captain of India men’s cricket team in all formats. Considered one of the best batsmen of his generation and one of greatest opening batters of all time,[3] Sharma is known for his timing, elegance, six-hitting abilities and leadership skills. He plays as a right-handed batsman for India national cricket team in international cricket</p>
		<table>
			<tr>
				<td><img src="r1.jpg" width="250px" height="150px" alt=""></td>
				<td><img src="r2.webp" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Sharma currently holds the world record for the highest individual score (264) in a One Day International (ODI) match and is the only player to have scored three double-centuries in ODIs and also holds the record for scoring most hundreds (five) in a single Cricket World Cup, for which he won the ICC Men's ODI Cricketer of the Year award in 2019.</p>
	</div>
	<div id="yuva">
		<h2>Yuvaraj Singh</h2>
		<p>Yuvraj Singh (born 12 December 1981) is a former Indian international cricketer who played in all formats of the game. He is an all-rounder who batted left-handed in the middle order and bowled slow left-arm orthodox . He has won 7 Player of the Series awards in ODI cricket, which is joint 3rd highest by an Indian, shared with former Indian captain Sourav Ganguly. He is also the son of former Indian fast bowler</p>
		<table>
			<tr>
				<td><img src="y1.jpeg" width="250px" height="150px" alt=""></td>
				<td><img src="y2.webp" width="250px" height="150px" alt=""></td>
			</tr>
		</table>
		<p>Yuvraj was a member of the Indian cricket team in One Day Internationals (ODIs) between 2000 and 2017 and played his first Test match in October 2003. He was the vice-captain of the Indian ODI team between 2007 and 2008. In a match against England at the 2007 World Twenty20, he famously hit six sixes in one over bowled by Stuart Broad[4] — a feat performed only three times previously in any form of senior cricket, and never in an international match between two teams with Test match status.</p>
	</div>

	<div id="footer">
		<h2>Copyright:&copy;2023</h2>
		<small>All Rights Are &reg;Reserved</small>
		<p>Developed & Maintained By <a href="https://www.bcci.tv/">BCCI</a></p>
	</div>
</body>
</html>